@{
    ViewBag.Title = "Evil";
    Layout = "~/Views/Shared/_LayoutEvil.cshtml";
}

<h2>Adversarial site with CSRF.</h2>

<h2>Stop the kitten eaters.</h2>

<p>
    In recent years it has become clear that the practice of eating kittens is spreading at an alarming rate around the world. As shown <a href="http://en.wikipedia.org/wiki/Phishing">here</a>.
</p>

<p>
    Please write to your local politicians and let them know that this is unacceptable.
</p>

<strong>Help us stop this madness!</strong>

<p class="comment">
    Notera: I normalfallet så behöver det finnas en aktiv session mot sidan som attackeras för att en CSRF skall fungera. Det behöver också vara möjligt att fastställa värden som behövs i den Http POST som görs.
</p>
